@{
    Layout = null;
}
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IdentityServer4.SSO</title>

    <link rel="stylesheet" href="~/lib/semanticui/semantic.min.css" />
    <link rel="stylesheet" href="~/lib/semanticui/components/dropdown.min.css" />
    <link rel="stylesheet" href="~/lib/semanticui/components/checkbox.min.css" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-nice-select/css/nice-select.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/account.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header class="ui secondary pointing menu top-nav">
        <div class="ui container">
            <a class="header item" href="/">IDS4 SSO</a>

            <div class="right menu">
                <partial name="_SelectLanguagePartial" />
            </div>
        </div>
    </header>

    <div class="ui container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="ui footer">
            <ul class="footer-list">
                <li><a href="/privacy" target="_blank">@Localizer["Privacy Statement"]</a></li>
                <li><a href="/terms" target="_blank">@Localizer["Terms of Service"]</a></li>
                <li>&copy; @DateTime.UtcNow.Year - IDS4 SSO</li>
            </ul>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/semanticui/semantic.js"></script>
        <script src="~/lib/semanticui/components/dropdown.js"></script>
        <script src="~/lib/semanticui/components/checkbox.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>

        <script src="~/lib/semanticui/semantic.min.js"></script>
        <script src="~/lib/semanticui/components/dropdown.min.js"></script>
        <script src="~/lib/semanticui/components/checkbox.min.js"></script>
    </environment>
    <script src="~/lib/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/js/site.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('.culture-select').niceSelect();
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
