@model IdentityServer4.SSO.Models.Consent.ScopeViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="scope-item">
    <div>
        <input class="switch-input" type="checkbox"
               name="ScopesConsented"
               id="scopes_@Model.Name"
               value="@Model.Name"
               checked="@Model.Checked"
               disabled="@Model.Required">
        <label for="scopes_@Model.Name">
            @if (Model.Required)
            {
                <input type="hidden"
                       name="ScopesConsented"
                       value="@Model.Name" />
            }
            <strong>@Model.DisplayName</strong>
            @if (Model.Required)
            {
                <span><em>@Localizer["(required)"]</em></span>
            }
            @if (Model.Emphasize)
            {
                <i class="fa fa-exclamation-circle"></i>
            }
        </label>
    </div>
    <div>
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <div class="consent-description">
                <label for="scopes_@Model.Name">@Model.Description</label>
            </div>
        }
    </div>
</div>