@model IdentityServer4.SSO.Models.Account.RegisterViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Register Title"];
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="content justify-content-center">
    @await Html.PartialAsync("_ValidationSummary")
    <div class="main">
        <h1 class="title">@Localizer["Register Title"]</h1>
        <form asp-action="Register" method="post">
            <div class="control-group">
                <label asp-for="Email"></label>
                <div class="control-box">
                    <input class="input-control" placeholder="@Localizer["Email Placeholder"]" asp-for=Email autocomplete="off">
                </div>
            </div>
            <div class="control-group">
                <label asp-for="Password"></label>
                <div class="control-box">
                    <input type="password" class="input-control" placeholder="@Localizer["Password Placeholder"]" asp-for=Password autocomplete="off">
                </div>
            </div>
            <div class="control-group">
                <label asp-for="ConfirmPassword"></label>
                <div class="control-box">
                    <input type="password" class="input-control" placeholder="@Localizer["Confirm Password Placeholder"]" asp-for=ConfirmPassword autocomplete="off">
                </div>
            </div>
            <div class="op-box">
                <button class="submit-btn" name="button" value="login">@Localizer["Register Button"]</button>

            </div>
        </form>
    </div>
    <div class="external">
        <p>@Localizer["Statement"]</p>
        <p>
            @Localizer["Existing Account"]
            <a class="register-link" asp-action="Login">@Localizer["Log in"]</a>
        </p>
    </div>
</div>