@model IdentityServer4.SSO.Models.Grants.GrantsViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Grants";
}

@section Styles{
    <link href="~/css/grants.css" rel="stylesheet" />
}

@if (Model.Grants.Any())
{
    <div class="ui container">
        <div class="ui segment divided items">
            @foreach (var grant in Model.Grants)
            {
                <div class="item">

                    @if (grant.ClientLogoUrl != null)
                    {
                        <a class="image ui small" target="_blank" href="@(grant.ClientUrl ?? "javascript:;")">
                            <img src="@Url.Content(grant.ClientLogoUrl)" class="img-fluid">
                        </a>
                    }
                    <div class="content">
                        <h2 class="header">@grant.ClientName</h2>

                        <div class="meta">
                            <span>Created: @grant.Created.ToString("yyyy-MM-dd hh:mm")</span>

                            @if (grant.Expires.HasValue)
                            {

                                <span class="expires">Expires: @grant.Expires.Value.ToString("yyyy-MM-dd hh:mm")</span>
                            }
                        </div>
                        <div class="description">

                            @if (grant.IdentityGrantNames.Any())
                            {
                                <p>
                                    <strong class="granttype">Identity Grants: </strong>
                                    @foreach (var name in grant.IdentityGrantNames)
                                    {
                                        <span title="@name" class="ui mini tag label teal">@name</span>
                                    }
                                </p>
                            }
                            @if (grant.ApiGrantNames.Any())
                            {
                                <p>
                                    <strong>@Localizer["API Grants"]</strong>
                                    @foreach (var name in grant.ApiGrantNames)
                                    {
                                        <span title="@name" class="ui mini tag label blue">@name</span>
                                    }
                                </p>
                            }
                        </div>

                        <div class="extra">
                            <form asp-action="Revoke">
                                <input type="hidden" name="clientId" value="@grant.ClientId">
                                <button class="ui button red mini">@Localizer["Revoke Access"]</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="ui container">
        <div class="ui text center">Nothing at all</div>
    </div>
}
